body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #026aa7;
  color: #fff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
}

h1 {
  display: inline-block;
  padding-left: 0.5em;
}

title {
  position: relative;
}

.loginbuttons {
  display: inline-block;
  position: absolute;
  right: 1em;
  top: 1.5em;
}

/* .project {
  display: grid;
  background-color: #7a869a;
  width: 400px;

} */

/* .main {
  display: flex;
  flex-direction: row;

} */

/* .MuiCardContent-root {
  display: inline-block;
  background-color: #eceff1;
  border-radius: 8px;

} */

/* .MuiCardContent-root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */


.login-input {
  padding-left: 2em;
}

.main-aside {
  padding-top: 2em;
  padding-left: 2em;
}

.projects {
  display: inline-block;
}



.main {
  background-color: #eceff1;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
  margin-top: 1em;
}

.single-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1em;
}

.create-input {
  border: 3px solid #ccc;
}

#create-card-input {
  height: 1em;
}

#each-card {
  margin: 1em;
  padding: 1em;
  background-color: #eceff1;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
}
textarea {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 12px 20px 12px 30px;
}

textarea:focus {
  outline: 1px solid blue;
  background-color: #fff;
}
